name: {{ operationId }}
pack: kubernetes
runner_type: run-python
description: "{{ description }}"
enabled: true
entry_point: "{{ operationId }}.py"
{%- if params|length + paramsreq|length > 0 %}
parameters:
{%- endif -%}
    {%- for parameter in paramsreq %}
    {{ parameter.name }}:
        type: {{ parameter.type }}
        description: "{{ parameter.description }}"
        {% if parameter.required == true -%}
        required: {{ parameter.required }}
        {% endif -%}
    {% endfor -%}
    {% for parameter in params %}
    {{ parameter.name }}:
        type: {{ parameter.type }}
        description: "{{ parameter.description }}"
        {% if parameter.required == true %}
        required: {{ parameter.required }}
        {% endif -%}
    {% endfor %}
