name: {{ operationId }}
pack: kubernetes
runner_type: python-script
description: "{{ description }}"
enabled: true
entry_point: "{{ operationId }}.py"
{%- if params|length + paramsreq|length > 0 %}
parameters:
    config_override:
        type: object
        description: "override stackstorm config"
        secret: true
{%- endif -%}
    {%- for parameter in paramsreq %}
    {{ parameter.name }}:
        type: {{ parameter.type }}
        description: "{{ parameter.description }}"
        {% if parameter.required == true -%}
        required: {{ parameter.required }}
        {% endif -%}
    {% endfor -%}
    {% for parameter in params %}
    {{ parameter.name }}:
        type: {{ parameter.type }}
        description: "{{ parameter.description }}"
        {% if parameter.required == true %}
        required: {{ parameter.required }}
        {% endif -%}
    {% endfor %}
