---
  class_name: "{{ operationId }}"
  entry_point: "{{ operationId }}.py"
  description: "Sensor that watches Kubernetes API for new {{ kind }} objects."
  trigger_types:
    -
      name: "{{ triggername }}"
      description: "Trigger for {{ name }} event dispatch."
      payload_schema:
        type: "object"
        properties:
          resource:
            type: "string"
          name:
            type: "string"
          labels:
            anyOf:
              - type: "object"
              - type: "string"
              - type: "null"
          object_kind:
            type: "string"
          namespace:
            type: "string"
